########################################
###          DEFAULT SETTINGS        ###
########################################

# Any of those settings can be changed
# by the user. To overwrite a setting, 
# create a settings.toml or load the 
# settings from .env file or vars.
# As an example, to disable the 
# myllm object:
# settings.toml
# [default]
# myllm_enabled = false

[default]
# Dynaconf settings verification
VALUE = "On default"

# Module Enable/Disable
myllm_enabled = true

[default.myllm.g4f]
llm_model= "gpt_4"
llm_provider = "g4f.Provider.Bing" # LLM Provider # Refer to https://github.com/xtekky/gpt4free
llm_provider_key = ""
max_memory = 100 # Conversation history size
timeout = 5 # time lag to wait ai response
llm_prefix = "" # prefix use to filter the AI response
llm_template = """
You are a friendly AI, helping me with 
general tasks. Be courteuous, simple and direct.
"""

# [default.myllm.openai] 
# llm_model= "gpt-3.5-turbo" 
# llm_provider = "" 
# llm_provider_key = "DEADBE4F"
# max_memory = 100 
# timeout = 5 
# llm_prefix = ""
# llm_template = """
# You are a friendly AI, helping me with 
# general tasks. Be courteuous, simple and direct.
# """

# [default.myllm.bard]
# llm_model= "" # gpt-3.5-turbo" 
# llm_provider = ""
# llm_provider_key = "DEADBE4F"
# max_memory = 100 # Conversation history size
# timeout = 5 # time lag to wait ai response
# llm_prefix = "" # prefix use to filter the AI response
# llm_template = """
# You are a friendly AI, helping me with 
# general tasks. Be courteuous, simple and direct.
# """

########################################
###     END OF DEFAULT SETTINGS      ###
########################################
